In [ ]:
import pandas as pd

# Load the dataset
file_path = '/content/Tesla_stock_minute_data(2024to2021).csv'
df = pd.read_csv(file_path)

# Inspect the first few rows of the dataset
df.head()

<ipython-input-1-cdf7dd8ae4c1>:5: DtypeWarning: Columns (8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,timestamp,close,high,low,trade_count,open,volume,vwap,Price,Adj Close,Close,High,Low,Open,Volume
0,2024-08-26 08:00:00+00:00,220.60,221.38,220.00,310.0,220.36,8826.0,220.609213,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-08-26 08:01:00+00:00,220.49,220.50,220.27,152.0,220.34,3650.0,220.403513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-08-26 08:02:00+00:00,220.69,220.69,220.60,127.0,220.67,2466.0,220.650633,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-08-26 08:03:00+00:00,220.44,220.70,220.44,163.0,220.70,4286.0,220.551361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-08-26 08:04:00+00:00,220.58,220.58,220.50,85.0,220.50,1595.0,220.540000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import os
file_path = '/content/Tesla_stock_minute_data(2024to2021).csv'
# Check the size of the CSV file (on disk)
file_size = os.path.getsize(file_path)
file_size_mb = file_size / (1024 * 1024)  # Convert bytes to MB
print(f"File size (in MB): {file_size_mb:.2f} MB")

File size (in MB): 125.50 MB

In [ ]:
# Remove unnecessary columns from the dataset
df.drop(columns=['Price', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], inplace=True)

# Check the remaining columns
print(df.columns)

Index(['timestamp', 'close', 'high', 'low', 'trade_count', 'open', 'volume',
       'vwap'],
      dtype='object')

In [ ]:
df.head()

,timestamp,close,high,low,trade_count,open,volume,vwap
0,2024-08-26 08:00:00+00:00,220.60,221.38,220.00,310.0,220.36,8826.0,220.609213
1,2024-08-26 08:01:00+00:00,220.49,220.50,220.27,152.0,220.34,3650.0,220.403513
2,2024-08-26 08:02:00+00:00,220.69,220.69,220.60,127.0,220.67,2466.0,220.650633
3,2024-08-26 08:03:00+00:00,220.44,220.70,220.44,163.0,220.70,4286.0,220.551361
4,2024-08-26 08:04:00+00:00,220.58,220.58,220.50,85.0,220.50,1595.0,220.540000

In [ ]:
# Check for missing values
df.isnull().sum()

timestamp      6224
close          6224
high           6224
low            6224
trade_count    6224
open           6224
volume         6224
vwap           6224
dtype: int64

In [ ]:
# Inspect the first few rows to check for formatting or missing values
print(df.head())

                   timestamp   close    high     low  trade_count    open  \
0  2024-08-26 08:00:00+00:00  220.60  221.38  220.00        310.0  220.36
1  2024-08-26 08:01:00+00:00  220.49  220.50  220.27        152.0  220.34
2  2024-08-26 08:02:00+00:00  220.69  220.69  220.60        127.0  220.67
3  2024-08-26 08:03:00+00:00  220.44  220.70  220.44        163.0  220.70
4  2024-08-26 08:04:00+00:00  220.58  220.58  220.50         85.0  220.50

   volume        vwap
0  8826.0  220.609213
1  3650.0  220.403513
2  2466.0  220.650633
3  4286.0  220.551361
4  1595.0  220.540000

In [ ]:
# Check if there are any completely empty rows in the dataset
empty_rows = df.isnull().all(axis=1)
print(f'Number of empty rows: {empty_rows.sum()}')

# Inspect the first few empty rows
print(df[empty_rows].head())

Number of empty rows: 6224
      timestamp  close  high  low  trade_count  open  volume  vwap
44669       NaN    NaN   NaN  NaN          NaN   NaN     NaN   NaN
44670       NaN    NaN   NaN  NaN          NaN   NaN     NaN   NaN
44671       NaN    NaN   NaN  NaN          NaN   NaN     NaN   NaN
44672       NaN    NaN   NaN  NaN          NaN   NaN     NaN   NaN
44673       NaN    NaN   NaN  NaN          NaN   NaN     NaN   NaN

In [ ]:
import pandas as pd

# Assuming your DataFrame is named df
# Let's first check the missing values before performing any operations
print(df.isnull().sum())

# Step 1: Fill missing values in the 'timestamp' column using forward fill
df['timestamp'] = df['timestamp'].ffill()

# Alternatively, you could use backward fill if you want to fill missing 'timestamp' values using the next available timestamp
# df['timestamp'] = df['timestamp'].bfill()

# Step 2: Fill missing values in other columns with statistical measures (mean or median)

df['close'] = df['close'].fillna(method='bfill')
df['high'] = df['high'].fillna(method='bfill')
df['low'] = df['low'].fillna(method='bfill')
df['open'] = df['open'].fillna(method='bfill')
df['volume'] = df['volume'].fillna(method='bfill')
df['vwap'] = df['vwap'].fillna(method='bfill')
df['trade_count'] = df['trade_count'].fillna(method='bfill')


# Step 3: Verify if any missing values remain
print(df.isnull().sum())

# Step 4: Verify the first few rows after filling the missing values
print(df.head())

# Optional: Check the data types to ensure correct types
print(df.dtypes)

timestamp      6224
close          6224
high           6224
low            6224
trade_count    6224
open           6224
volume         6224
vwap           6224
dtype: int64
timestamp      0
close          0
high           0
low            0
trade_count    0
open           0
volume         0
vwap           0
dtype: int64
                   timestamp   close    high     low  trade_count    open  \
0  2024-08-26 08:00:00+00:00  220.60  221.38  220.00        310.0  220.36
1  2024-08-26 08:01:00+00:00  220.49  220.50  220.27        152.0  220.34
2  2024-08-26 08:02:00+00:00  220.69  220.69  220.60        127.0  220.67
3  2024-08-26 08:03:00+00:00  220.44  220.70  220.44        163.0  220.70
4  2024-08-26 08:04:00+00:00  220.58  220.58  220.50         85.0  220.50

   volume        vwap
0  8826.0  220.609213
1  3650.0  220.403513
2  2466.0  220.650633
3  4286.0  220.551361
4  1595.0  220.540000
timestamp       object
close          float64
high           float64
low            float64
trade_count    float64
open           float64
volume         float64
vwap           float64
dtype: object

In [ ]:
df.isnull().sum()

timestamp      0
close          0
high           0
low            0
trade_count    0
open           0
volume         0
vwap           0
dtype: int64

In [ ]:
# Save the DataFrame to a CSV file
df.to_csv('tesla_stock_data_filled.csv', index=False)

# Check the file size
import os
file_size = os.path.getsize('tesla_stock_data_filled.csv')
print(f"File size (in bytes): {file_size}")

# Convert the size to megabytes for easier reading
file_size_mb = file_size / (1024 * 1024)
print(f"File size (in MB): {file_size_mb:.2f} MB")

File size (in bytes): 119632507
File size (in MB): 114.09 MB

In [ ]:
# Load the dataset after saving the filled DataFrame
df_filled = pd.read_csv('tesla_stock_data_filled.csv')

# Check for duplicates in the dataset
duplicates = df_filled.duplicated()

# Print the number of duplicate rows
print(f"Number of duplicate rows: {duplicates.sum()}")

# Optionally: Show the duplicate rows
print(df_filled[duplicates])

Number of duplicate rows: 28453
                         timestamp       close        high         low  \
44670    2024-06-28 23:59:00+00:00  422.007952  422.310733  421.705524
44671    2024-06-28 23:59:00+00:00  422.007952  422.310733  421.705524
44672    2024-06-28 23:59:00+00:00  422.007952  422.310733  421.705524
44673    2024-06-28 23:59:00+00:00  422.007952  422.310733  421.705524
44674    2024-06-28 23:59:00+00:00  422.007952  422.310733  421.705524
...                            ...         ...         ...         ...
1520405  2024-09-06 23:59:00+00:00  422.007952  422.310733  421.705524
1520406  2024-09-06 23:59:00+00:00  422.007952  422.310733  421.705524
1520407  2024-09-06 23:59:00+00:00  422.007952  422.310733  421.705524
1520408  2024-09-06 23:59:00+00:00  422.007952  422.310733  421.705524
1520409  2024-09-06 23:59:00+00:00  422.007952  422.310733  421.705524

         trade_count        open        volume        vwap
44670     803.745083  422.010005  59741.678026  422.011848
44671     803.745083  422.010005  59741.678026  422.011848
44672     803.745083  422.010005  59741.678026  422.011848
44673     803.745083  422.010005  59741.678026  422.011848
44674     803.745083  422.010005  59741.678026  422.011848
...              ...         ...           ...         ...
1520405   803.745083  422.010005  59741.678026  422.011848
1520406   803.745083  422.010005  59741.678026  422.011848
1520407   803.745083  422.010005  59741.678026  422.011848
1520408   803.745083  422.010005  59741.678026  422.011848
1520409   803.745083  422.010005  59741.678026  422.011848

[28453 rows x 8 columns]

In [ ]:
# If you want to remove duplicates, use the following command
df_filled.drop_duplicates(inplace=True)

# Check the dataset again after removing duplicates
print(f"Dataset shape after removing duplicates: {df_filled.shape}")

# Optionally: Save the dataset without duplicates
df_filled.to_csv('tesla_stock_data_no_duplicates.csv', index=False)

Dataset shape after removing duplicates: (1491957, 8)

In [ ]:
import os

# Save the DataFrame after removing duplicates
df_filled.to_csv('tesla_stock_data_no_duplicates.csv', index=False)

# Check the file size of the dataset after removing duplicates
file_size = os.path.getsize('tesla_stock_data_no_duplicates.csv')
print(f"File size (in bytes) after removing duplicates: {file_size}")

# Convert the size to megabytes for easier reading
file_size_mb = file_size / (1024 * 1024)
print(f"File size (in MB) after removing duplicates: {file_size_mb:.2f} MB")

File size (in bytes) after removing duplicates: 116915029
File size (in MB) after removing duplicates: 111.50 MB

In [ ]:
# Check for duplicates in the dataset
duplicates = df_filled.duplicated()

# Print the number of duplicate rows
print(f"Number of duplicate rows: {duplicates.sum()}")

# Optionally: Show the duplicate rows
if duplicates.sum() > 0:
    print(df_filled[duplicates])
else:
    print("No duplicates found.")

Number of duplicate rows: 0
No duplicates found.